.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(7, 139, 117);
  padding: 16px 16px 16px 16px;
  color: white;
  justify-content: space-between;
}

.user-actions {
  padding: 0 32px 0 0;
}
