version: "3"
services:
  server:
    container_name: "server"
    build: ./server
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgres://admin:pass@postgres:5432/boptestdb}
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"
    depends_on:
      - pg
    volumes:
      - ./server:/usr/src/app/:z
      - ./common:/usr/src/common:z
      - staticfiles:/usr/client/build
  pg:
    image: "postgres"
    container_name: "postgres"
    # port on host : port in Docker
    ports:
      - "5432:5432"
    env_file:
      - ./pg/database.env
    volumes:
      - ./pg/db_data:/var/lib/postgresql:z
  client:
    container_name: "client"
    build:
      context: .
      dockerfile: ./client/Dockerfile
    volumes:
      - ./client/src:/usr/client/src:z
      - ./common:/usr/client/common:z
      - staticfiles:/usr/client/build

volumes:
  staticfiles:
