.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: tomato;
  height: 100%;
}

.b1 {
  padding: 0 0 0 16px;
}

.b2 {
  padding: 0 16px 0 0;
}
